.content {
    display: none;
    width: 100%;
    text-align: center;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.box.expanded .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

textarea {
    position: fixed; /* Keep the text area in a fixed position */
    bottom: 20px; /* Place it near the bottom of the screen */
    width: calc(100% - 40px); /* Adjust width to fit the screen */
    height: 100px;
    padding: 10px;
    border: 2px solid #ff4b2b;
    border-radius: 10px;
    background: #fff;
    color: #333;
    z-index: 1; /* Ensure it's on top of the image */
    resize: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box-image {
    width: 100%;
    max-width: 100%; /* Ensure the image does not overflow horizontally */
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
    z-index: 0;
    max-height: calc(100vh - 150px); /* Ensure the image is scrollable within available space */
    overflow-y: auto; /* Enable vertical scrolling for the image */
}

.box.expanded .box-image {
    overflow-y: auto; /* Allow the image to scroll when larger than available space */
    position: relative;
}
